<?xml version="1.0" encoding="utf-8"?>
<SEOChecker version="1.9.2">
  <trigger triggerOnPublish="true" />
  <xmlSiteMap enabled="false" excludeUmbracoNaviHide="false" />
  <urlRewrite enabled="true" forcewwwUrls="Ignore" useTrailingSlashProperty="false" />
  <redirectConfig storeDomain="false" storeQueryString="false" forwardQuerystring="true" redirectWhenNodeExists="false" />
  <notFoundConfig enabled="true" />
  <robotsTxt enabled="false" />
  <robots>
    <robot userAgent="Googlebot/2.1" name="Google" />
  </robots>
  <documentTypeConfiguration />
  <emailConfiguration />
  <rootNodeSettings>
    <rootNode>
      <nodeId>1094</nodeId>
      <canonicalDomain></canonicalDomain>
      <robotsTxt><![CDATA[]]></robotsTxt>
      <languages>
        <language isoCode="en-US" nodeId="2677" />
      </languages>
    </rootNode>
  </rootNodeSettings>
  <validationConfig validateAltAttributesOnTemplate="false" />
  <keywordSelectionUrl>https://adwords.google.com/ko/KeywordPlanner/Home</keywordSelectionUrl>
  <showTemplateErrorsForNonAdmins>false</showTemplateErrorsForNonAdmins>
</SEOChecker>