// Account

.Options {
    margin-bottom: $line-height;

    ul {
    }

    li {
        background: $main-grey;
        border: .1rem solid $dark-black;
        cursor: pointer;
        float: left;
        list-style: none;
        margin: 0;
        margin-bottom: 1rem;
        padding: 1rem;
        text-align: center;
        width: 50%;

        a {
            color: $dark-black;
        }
    }

    &:before {
        content: '';
        display: table;
    }

    &:after {
        content: '';
        display: table;
    }

    &:after {
        clear: both;
    }

    &:before {
        content: '';
        display: table;
    }

    &:after {
        content: '';
        display: table;
    }
}

.Addresses {

    .Container.Address {
        border-bottom: .1rem solid $main-grey;
        padding: 2rem 0;

        .AddressType {
            font-weight: bold;
        }

        .Account_Detail {
            display: block;
            margin-bottom: 0;
            padding: 0;
        }

        a {
            background: $main-grey;
            border: .1rem solid $dark-black;
            border-radius: $border-radius;
            color: $dark-black;
            cursor: pointer;
            display: inline-block;
            // float: right;
            font-weight: bold;
            line-height: 1;
            margin: 0 auto;
            margin-bottom: $line-height;
            max-width: auto !important;
            padding: 1rem 2.5rem;
            transition: background $speed ease, border $speed ease, box-shadow $speed ease, color $speed ease;
            width: auto;

            &:hover,
            &:focus {
                background: darken($main-grey, 5);
                border: .1rem solid $dark-black;
            }

            &:focus {
                box-shadow: 0 .3rem 0 0 rgba($black, .1);
            }
        }
    }
    // .Address:nth-child(odd) {
    //     background: $main-grey;
    // }
    // .Address:nth-child(even) {
    // }
}

.AddressOptions {
    margin-bottom: $line-height;

    .Option {
        padding: 1.2rem 1.6rem;
    }

    .DefaultBilling {

        input {
            -webkit-appearance: checkbox;
               -moz-appearance: checkbox;
                    appearance: checkbox;
            display: inline-block;
            width: auto;
        }

        label {
            display: inline-block;
            margin: 0;
            margin-left: 1rem;
            padding: 0;
        }
    }

    .DefaultDelivery {

        input {
            -webkit-appearance: checkbox;
               -moz-appearance: checkbox;
                    appearance: checkbox;
            display: inline-block;
            width: auto;
        }

        label {
            display: inline-block;
            margin: 0;
            margin-left: 1rem;
            padding: 0;
        }
    }
}

.ChangePassword {
    margin-bottom: $line-height;
}

a.NewAddress,
a.ChangePassword {
    background: $main-grey;
    border: .1rem solid $dark-black;
    border-radius: $border-radius;
    color: $dark-black;
    cursor: pointer;
    display: inline-block;
    // float: right;
    font-weight: bold;
    line-height: 1;
    margin: 0 auto;
    margin-bottom: $line-height;
    max-width: auto !important;
    padding: 1rem 2.5rem;
    transition: background $speed ease, border $speed ease, box-shadow $speed ease, color $speed ease;
    width: auto;

    &:hover,
    &:focus {
        background: darken($main-grey, 5);
        border: .1rem solid $dark-black;
    }

    &:focus {
        box-shadow: 0 .3rem 0 0 rgba($black, .1);
    }
}
