// Checkout

.DeliveryOptions {

    .DeliveryOption {
        padding: 1.2rem 1.6rem;

        input {
            -webkit-appearance: radio;
               -moz-appearance: radio;
                    appearance: radio;
            display: inline-block;
            width: auto;
        }

        label {
            display: inline-block;
            margin: 0;
            margin-left: 1rem;
            padding: 0;
        }

        span.Caption {
        }
    }

    .DeliveryOption:nth-child(odd) {
        background: $main-grey;
    }
}

.AddressList {
    margin-bottom: $line-height;

    li {
        border-bottom: .1rem solid $main-grey;
        list-style: none;
        margin: 0;
        padding: 1.5rem 0;
        vertical-align: top;

        input[type='radio'] {
            -webkit-appearance: radio;
               -moz-appearance: radio;
                    appearance: radio;
            display: inline-block;
            float: left;
            width: auto;
        }

        label {
            display: inline-block;
            margin: 0;
            margin-left: 1rem;
            padding: 0;
        }

        input[type='submit'] {
            background: $main-grey;
            border: .1rem solid $dark-black;
            border-radius: $border-radius;
            color: $dark-black;
            cursor: pointer;
            display: inline-block;
            display: block;
            float: right;
            font-weight: bold;
            line-height: 1;
            margin: 0 auto;
            max-width: auto !important;
            padding: 1rem 2.5rem;
            transition: background $speed ease, border $speed ease, box-shadow $speed ease, color $speed ease;
            width: auto;

            &:hover,
            &:focus {
                background: darken($main-grey, 5);
                border: .1rem solid $dark-black;
            }

            &:focus {
                box-shadow: 0 .3rem 0 0 rgba($black, .1);
            }
        }
    }

    + div {

        input[type='submit'] {
            background: $main-grey;
            border: .1rem solid $dark-black;
            border-radius: $border-radius;
            color: $dark-black;
            cursor: pointer;
            display: inline-block;
            font-weight: bold;
            line-height: 1;
            margin: 0 auto;
            margin-bottom: $line-height;
            max-width: auto !important;
            padding: 1rem 2.5rem;
            transition: background $speed ease, border $speed ease, box-shadow $speed ease, color $speed ease;
            width: auto;

            &:hover,
            &:focus {
                background: darken($main-grey, 5);
                border: .1rem solid $dark-black;
            }

            &:focus {
                box-shadow: 0 .3rem 0 0 rgba($black, .1);
            }
        }
    }
}

.ContinueButton {
}

.EventList {
    margin-bottom: $line-height * 1.5;

    .Event_Summary {

        span {
            font-size: 1.8rem;
        }

        + .Ticket_Summary {
            margin-top: 1rem;
        }
    }

    .Ticket_Summary {
    }
}

.SummarySection {
    margin-bottom: $line-height;

    .Summary {
        font-weight: bold;
    }
}

.PaymentView {

    .Container.Total {
        font-weight: bold;
    }
}
