@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	var homePage = CurrentPage.Site();
	var settings = homePage.FirstChild("Settings");
}

<div class="c-cover-wrap clearfix">
	<section class="c-cover__main c-cover">
		@if( CurrentPage.HasValue("coverPicker") && CurrentPage.coverPicker.ToString() != "" && Umbraco.Content(CurrentPage.coverPicker).Name.ToString() != "" )
		{
			var slide = Umbraco.Content(CurrentPage.coverPicker);
			<div class="c-cover__image--wrap">
				<img class="c-cover__image" src="/assets/img/_temp/cover.jpg" alt=""/>
			</div>
			<div class="c-cover__content-wrap">
				<div class="c-cover__content">
					@if( slide.HasValue("mainLabel") )
					{
						<span class="c-cover-info--category">@slide.mainLabel</span>
					}
					@if( slide.HasValue("title") )
					{
						<h3 class="c-cover__heading c-cover__heading--news giga">@slide.title</h3>
					}
					@if( slide.HasValue("secondaryLabel") )
					{
						<span class="c-cover-info--date">@slide.secondaryLabel</span>
					}
					@if( slide.HasValue("buttonText") )
					{
						<button class="o-button o-button--primary">@slide.buttonText</button>		
					}
				</div>

			</div>		
		} else {
			<div class="c-cover__image--wrap">
				<img class="c-cover__image" src="/assets/img/_temp/cover.jpg" alt=""/>
			</div>
			<div class="c-cover__content-wrap">
				<div class="c-cover__content">
					<span class="c-cover-info--category">Fallback</span>
					<h3 class="c-cover__heading c-cover__heading--news giga">Fallback</h3>
					<span class="c-cover-info--date">Fallback</span>
					<button class="o-button o-button--primary">Fallback</button>				
				</div>

			</div>		
		}

	</section>
	<section class="c-cover__aside">
		<article class="o-card o-card--news">
			<div class="o-card__image--wrap">
				@* <img class="o-card__image" src="" alt=""/> *@
			</div>
			<div class="o-card__content">
				<span class="o-card-info--category o-card-info--category--news">Comedy</span>
				<h3 class="o-card__heading o-card__heading--news delta">Nibh Fermentum Ullamcorper</h3>
				<span class="o-card-info--date o-card-info--date--news">23 Sep</span>
				<button class="o-button o-button--small o-button--transparent">Read more</button>
			</div>
			
		</article>	

		<article class="o-card o-card--event">
			<div class="o-card__image--wrap">
				<img class="o-card__image" src="/assets/img/_temp/4.jpg" alt=""/>
			</div>
			<div class="o-card__content">
				<span class="o-card-info--category o-card-info--category--event">Comedy</span>
				<h3 class="o-card__heading o-card__heading--event delta">Nibh Fermentum Ullamcorper</h3>
				<span class="o-card-info--date o-card-info--date--event">23 Sep</span>
				<button class="o-button o-button--small o-button--transparent">Buy tickets</button>
				<button class="o-button o-button--small o-button--transparent">More info</button>
			</div>
			
		</article>	

		<article class="o-card o-card--news">
			<div class="o-card__image--wrap">
				@* <img class="o-card__image" src="" alt=""/> *@
			</div>
			<div class="o-card__content">
				<span class="o-card-info--category o-card-info--category--news">Comedy</span>
				<h3 class="o-card__heading o-card__heading--news">Nibh Fermentum</h3>
				<span class="o-card-info--date o-card-info--date--news">23 Sep</span>
				<button class="o-button o-button--small o-button--transparent">Read more</button>
			</div>
			
		</article>	
	</section>
</div>


