@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{

	var link = "https://www.google.co.uk/maps/search/pompey+centre/@50.7954664,-1.0674021,17z/data=!3m1!4b1";
	var homePage = CurrentPage.Site();
	var settings = homePage.FirstChild("Settings");

}

<div id="google-map" class="c-google-map">

</div>



