@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	var homePage = CurrentPage.Site();
	var settings = homePage.FirstChild("Settings");
}

<div class="o-section o-section--window">
	<span id="tickets" class="anchor-offset"></span>
	<div class="o-wrap o-wrap--small">
		<h2 class="mega">Tickets</h2>
		<span class="alpha">@settings.boxOfficeNumber</span>
	</div>
</div>