@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	var homePage = CurrentPage.Site();
	var settings = homePage.FirstChild("Settings");
}

<nav class="c-nav__footer">
	<ul class="c-nav__list--footer">
		@foreach( var link in settings.footerLinks.Split(',') ){
			var page = Umbraco.Content(link);
			<li class="c-nav__item--footer">
				<a href="@page.Url" class="c-nav__link--footer">@page.Name</a>
			</li>
		}
	</ul>
</nav>