@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var homePage = CurrentPage.Site();

    var siteUrl = "http://" +  Request.Url.Host.ToString();
    var query = Request.QueryString["newsletter"];
    var errorQuery = Request.QueryString["error"];
}

@if( query == "subscribed" ){
    if( errorQuery == "EmailExists" )
    {
        <span id="subscribed" class="delta">Email is already in use.</span>
    }
    else if( errorQuery == "NoLastName" )
    {
        <span id="subscribed" class="delta">Please enter your last name.</span>
    }
    else
    {
        <span id="subscribed" class="delta" data-error="@errorQuery">Thank you for subscribing!</span>
    }

}
else
{
    <form class="c-form c-form--newsletter" action="https://system.spektrix.com/watfordpalace/website/secure/signup.aspx" method="POST">
        <input type="hidden" name="ReturnUrl" value="@siteUrl?newsletter=subscribed#subscribed" />
        <div class="o-input">
            <label for="FirstName" class="">First name</label>
            <input name="FirstName" type="text" placeholder="First name"/>
        </div>
        <div class="o-input">
            <label for="LastName" class="">First name</label>
            <input name="LastName" type="text" placeholder="Last name"/>
        </div>
        <div class="o-input">
            <label for="Email" lass="">Email</label>
            <input name="Email" type="text" placeholder="Email"/>
        </div>
        <input class="o-button o-button--primary" type="submit" value="Sign up" />
    </form>
}


