@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var homePage = CurrentPage.Site();

    var siteUrl = "http://" +  Request.Url.Host.ToString();
    var query = Request.QueryString["newsletter"];
    var errorQuery = Request.QueryString["error"];
}

@if( query == "subscribed" ){

    if( errorQuery != "" )
    {
        if( errorQuery == "EmailExists" )
        {
            <p id="subscribed" class="delta t-block">Email is already in use.</p>
        }
        else if( errorQuery == "NoLastName" )
        {
            <p id="subscribed" class="delta t-block">Please enter your last name.</p>
        }
        else if( errorQuery == "InvalidEmail" )
        {
            <p id="subscribed" class="delta t-block">Please enter a valid email address.</p>
        }
        else if( errorQuery == "NoEmail" )
        {
            <p id="subscribed" class="delta t-block">Please enter your email address.</p>
        }
        <form class="c-form c-form--newsletter" action="https://system.spektrix.com/watfordpalace/website/secure/signup.aspx" method="POST">
            <input type="hidden" name="ReturnUrl" value="@siteUrl?newsletter=subscribed" />
            <div class="o-input">
                <label for="FirstName" class="">First name</label>
                <input name="FirstName" type="text" placeholder="First name"/>
            </div>
            <div class="o-input">
                <label for="LastName" class="">First name</label>
                <input name="LastName" type="text" placeholder="Last name"/>
            </div>
            <div class="o-input">
                <label for="Email" lass="">Email</label>
                <input name="Email" type="text" placeholder="Email"/>
            </div>
            <input class="o-button o-button--primary" type="submit" value="Sign up" />
        </form>
    }
    else
    {
        <p id="subscribed" class="delta" data-error="@errorQuery">Thank you for subscribing!</p>
    }
    <script>
        window.onload = toBottom;

        function toBottom()
        {
            window.scrollTo(0, document.body.scrollHeight);
        }
    </script>
}
else
{
    <form class="c-form c-form--newsletter" action="https://system.spektrix.com/watfordpalace/website/secure/signup.aspx" method="POST">
        <input type="hidden" name="ReturnUrl" value="@siteUrl?newsletter=subscribed" />
        <div class="o-input">
            <label for="FirstName" class="">First name</label>
            <input name="FirstName" type="text" placeholder="First name"/>
        </div>
        <div class="o-input">
            <label for="LastName" class="">First name</label>
            <input name="LastName" type="text" placeholder="Last name"/>
        </div>
        <div class="o-input">
            <label for="Email" lass="">Email</label>
            <input name="Email" type="text" placeholder="Email"/>
        </div>
        <input class="o-button o-button--primary" type="submit" value="Sign up" />
    </form>
}


