@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	
	var homePage = CurrentPage.Site();
	var settings = homePage.FirstChild("Settings");
	var siteUrl = Request.Url.Host.ToString();
	
	var pageUrl = siteUrl + CurrentPage.Url;
	pageUrl = pageUrl.Replace("/", "%2F");
	var pageClass = "page--" + CurrentPage.Name.ToLower().Replace(" ", "-");
	var pageType = "doc--" + CurrentPage.DocumentTypeAlias.ToLower().Replace(" ","-");
	var pageName = (CurrentPage.HasValue("pageTitle") ? CurrentPage.pageTitle : CurrentPage.Name);
	var pageImage = siteUrl + Umbraco.Media(settings.openGraphDefaultImage.ToString()).Url;
	var pageMeta = (CurrentPage.HasValue("metaDescription") ? CurrentPage.metaDescription : settings.defaultMetaDescription);

	string twitterUrl = settings.twitter.ToString();
	var twitterCreator = (settings.HasValue("twitter") ? twitterUrl.Split('/').Last() : "EMPTY");
	
	var facebookShareUrl = "https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F" + @pageUrl + "&t=" + @pageName; 
	var twitterShareUrl = "https://twitter.com/intent/tweet?source=http%3A%2F%2F" + @pageUrl + "&text=" + @pageName + ":%20http%3A%2F%2F" + @pageUrl + "&via=" + @twitterCreator;
	var googleShareUrl = "https://plus.google.com/share?url=http%3A%2F%2F" + @pageUrl; 
	var linkedInShareUrl = "http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2F" + @pageUrl + "&title=" + @pageName + "&summary=" + @pageMeta + "&source=http%3A%2F%2F" + @pageUrl; 
}	

<ul class="share-buttons">
	<li><a href="@facebookShareUrl" target="_blank" title="Share on Facebook"><i class=""></i>Facebook</a></li>
	<li><a href="@twitterShareUrl" target="_blank" title="Share on Twitter"><i class=""></i>Twitter</a></li>
	<li><a href="@googleShareUrl" target="_blank" title="Share on Google Plus"><i class=""></i>Google Plus</a></li>
	<li><a href="@linkedInShareUrl" target="_blank" title="Share on LinkedIn"><i class=""></i>LinkedIn</a></li>
</ul>