$old-ie: true;
@import 'style';

.o-page,
.o-page__header {
    margin: 0 auto;
    max-width: 1000px;
}

.o-card__image--wrap:after {
    background: none !important;
    display: none;
}

.o-button--transparent {
    background: $pri !important;
}

.lt-ie10 {

    .c-form--newsletter,
    .form--contactform,
    .ezsearch-form--search {

        label {
            display: block !important;
            padding: 1.5rem;
        }
    }
}


.c-cover__aside {
    margin-top: 3rem;
    display: block;
}

.c-cover .c-cover__content {
    padding: 20% 30px 0;
    width: 1000px;
    padding-top: 100px;
    max-width: auto;
}
