@charset 'UTF-8';

/* ===========================================================
*
* Version: 	2.0.0
* Authors: 	Kev Simpson & Paulius Putna
* Company:  The Graphic Design House
*
=========================================================== */

@import 'settings/global.scss';

@import 'tools/mixins.scss',
		'tools/jeet/_functions',
		'tools/jeet/_grid';


@import 'generic/reset.scss',
		'generic/js-breakpoints.scss';

@import 'base/text.scss',
		'base/headings.scss',
		'base/anchor.scss',
		'base/button.scss',
		'base/lists.scss',
		'base/table.scss',
		'base/forms.scss';

@import 'objects/page.scss',
		'objects/wrap.scss',
		'objects/section.scss',
		'objects/buttons.scss',
		'objects/table.scss',
		'objects/forms.scss',
		'objects/media.scss';

@import 'components/nav.scss',
		'components/cover.scss',
		'components/aspect-ratio.scss',
		'components/sitemap.scss';

@import 'trumps/overrides.scss';