/* ===========================================================

	# BUTTONS

=========================================================== */

.o-button {
	border-radius: $border-radius;
	display: inline-block;
	line-height: 1;
	padding: 2rem 3.5rem;
	transition: background $speed ease,
				box-shadow $speed ease,
				color $speed ease;

	&:hover,
	&:focus {
		color: $white;
	}

	&:focus {
		box-shadow: 0 .3rem 0 0 rgba( $black, .1 );
	}
}

.o-button--small {
	padding: 1.4rem 2.2rem;
}
.o-button--transparent {
	background: transparent;
	color: $white;
	border: 0.1rem solid $white;
	&:hover,
	&:focus {
		background: $pri;
	}
}

.o-button--primary {
	background: $pri;
	color: $white;

	&:hover,
	&:focus {
		background: $sec;
	}
}

.o-button--secondary {
	background: $sec;
	color: $white;

	&:hover,
	&:focus {
		background: $ter;
		color: $dark-black;
	}
}

.o-button--disabled {
	background: $main-grey;
	color: darken($main-grey, 30) !important;
	cursor: not-allowed;
}