/* ===========================================================

	# CARDS

=========================================================== */

.o-card:nth-child(8n + 1) {
	.o-card__image--wrap:after {
		border-bottom-left-radius: $card-radius--small;	
	}
	border-bottom-left-radius: $card-radius--small;
}

.o-card:nth-child(8n + 2) {
	.o-card__image--wrap:after {
		border-top-left-radius: $card-radius--small;	
	}
	border-top-left-radius: $card-radius--small;
}

.o-card:nth-child(8n + 3) {
	.o-card__image--wrap:after {
		border-top-right-radius: $card-radius--small;	
	}
	border-top-right-radius: $card-radius--small;
}

.o-card:nth-child(8n + 4) {
	.o-card__image--wrap:after {
		border-bottom-right-radius: $card-radius--small;	
	}
	border-bottom-right-radius: $card-radius--small;
}

.o-card:nth-child(8n + 5) {
	.o-card__image--wrap:after {
		border-top-left-radius: $card-radius--small;	
	}
	border-top-left-radius: $card-radius--small;
}

.o-card:nth-child(8n + 6) {
	.o-card__image--wrap:after {
		border-top-right-radius: $card-radius--small;	
	}
	border-top-right-radius: $card-radius--small;
}

.o-card:nth-child(8n + 7) {
	.o-card__image--wrap:after {
		border-bottom-left-radius: $card-radius--small;	
	}
	border-bottom-left-radius: $card-radius--small;
}

.o-card:nth-child(8n + 8) {
	.o-card__image--wrap:after {
		border-bottom-right-radius: $card-radius--small;	
	}
	border-bottom-right-radius: $card-radius--small;
}



.o-card {
	color: $white !important;
	margin-bottom: 3rem;
	position: relative;
	overflow: hidden;
	.o-card__image--wrap {
		background: $main-grey;
		display: block;
		position: relative;
		overflow: hidden;
	}

	.o-card__image--wrap:before {
		content: "";
		display: block;
		padding-top: 100%;
		
	}

	.o-card__image {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		width: 100%;
	}
	.o-card__content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		padding: 2rem;
		text-align: center;
		.o-card-info--category,
		.o-card__heading--event,
		.o-card-info--date--event {
			background: $dark-black;
			background: rgba(34, 34, 34, 0.5);
			text-align: center;
			margin: 0 auto;
		}		
		.o-card-info--category--news{
			background: transparent;
		}
		.o-card-info--category {
			display: table;
			clear: both;
			text-align: center;
			padding: 0.5rem;
			margin-bottom: 15%;
			transition: background $speed ease;
		}
		.o-card-info--category--news {
			margin-bottom: 6%;
		}
		.o-card__heading {
			display: inline-block;
			clear: both;
			padding: 0.5rem;
			margin-bottom: 6%;
			text-align: center;
			transition: background $speed ease;
		}
		.o-card__heading--news {
			text-align: left;
		}
		.o-card-info--date {
			display: table;
			clear: both;
			padding: 0.5rem;
			margin-bottom: 8%;		
			transition: background $speed ease;
		}

	}

}

.o-card--event {
	text-align: center;
}
.o-card--news {
	.o-card__heading--news {
		text-align: left;	
	}
	.o-button {
		float: left;
	}
}
.o-card__image--wrap:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: $pri;
	opacity: 0;			
	transition: opacity $speed ease;
}

.no-touch {
	.o-card:hover {
			.o-card-info--category {
				background: rgba(34, 34, 34, 0);
			}
			.o-card__heading {
				background: rgba(34, 34, 34, 0);
			}
			.o-card-info--date {
				background: rgba(34, 34, 34, 0);
			}	
		.o-card__image--wrap:after {
			opacity: 0.75;			
		}	
	}	
}	



.o-card--news:nth-child(odd) {
	.o-card__image--wrap {
		background: $pri;
	}
}

.o-card--news:nth-child(even) {
	.o-card__image--wrap {
		background: $sec;
	}
}

@include respond-min( $mq-small ){
	.o-card {
		@include column(1/2, $gutter:2, $cycle: 2);
	}
}


@include respond-min( $mq-medium ){

	.o-card__content {
		padding: 2rem;
	}

}
@include respond-min( $mq-large ){
	.o-card:nth-child(8n + 1), {
		.o-card__image--wrap:after {
			border-bottom-left-radius: $card-radius--medium;	
		}
		border-bottom-left-radius: $card-radius--medium;
	}

	.o-card:nth-child(8n + 2), {
		.o-card__image--wrap:after {
			border-top-left-radius: $card-radius--medium;	
		}
		border-top-left-radius: $card-radius--medium;
	}

	.o-card:nth-child(8n + 3), {
		.o-card__image--wrap:after {
			border-top-right-radius: $card-radius--medium;	
		}
		border-top-right-radius: $card-radius--medium;
	}

	.o-card:nth-child(8n + 4), {
		.o-card__image--wrap:after {
			border-bottom-right-radius: $card-radius--medium;	
		}
		border-bottom-right-radius: $card-radius--medium;
	}

	.o-card:nth-child(8n + 5), {
		.o-card__image--wrap:after {
			border-top-left-radius: $card-radius--medium;	
		}
		border-top-left-radius: $card-radius--medium;
	}

	.o-card:nth-child(8n + 6), {
		.o-card__image--wrap:after {
			border-top-right-radius: $card-radius--medium;	
		}
		border-top-right-radius: $card-radius--medium;
	}

	.o-card:nth-child(8n + 7), {
		.o-card__image--wrap:after {
			border-bottom-left-radius: $card-radius--medium;	
		}
		border-bottom-left-radius: $card-radius--medium;
	}

	.o-card:nth-child(8n + 8), {
		.o-card__image--wrap:after {
			border-bottom-right-radius: $card-radius--medium;	
		}
		border-bottom-right-radius: $card-radius--medium;
	}
	.o-card {
		@include column(1/3, $gutter:2, $uncycle: 2, $cycle: 3);
		margin-bottom: 3rem;

	}

}

@include respond-min( $mq-x-large  ){

	.o-card {
		@include column(1/4, $gutter:2, $uncycle: 3, $cycle: 4);
		margin-bottom: 3rem;

	}

}