/* ===========================================================

	# HEADER

=========================================================== */

.o-page__header {
	padding-top: 1.8rem;
	background: white;
	position: fixed;
	height: 10.6rem;
	left: $frame-size--small;
	right: $frame-size--small;
	top: 0;
	z-index: 2;
	.o-site-logo {
	    width: 26.8rem;
	    display: block;
	    float: left;
	}
}

@include respond-min( $mq-x-large ) {

	.o-page__header {
		left: $frame-size--medium;
		right: $frame-size--medium;
	}

}


@include respond-min( $mq-xx-large ) {

	.o-page__header {
		left: $frame-size--large;
		right: $frame-size--large;
	}

}

