/* ===========================================================

	# PAGE

=========================================================== */

body {
	position: relative;
	height: calc(100% - 12.6rem);
	width: calc(100% - 4rem);
	margin: 0 auto;
}

.o-page {
	background: $background-colour;
	// padding-left: $frame-size--small;
	// padding-right: $frame-size--small;
}

.o-page-column-1-2 {
	margin-bottom: 2rem;
}

.o-page-column-1-2:last-child {
	margin-bottom: 0;
}


.o-page__content {
	margin-top: 12.1rem;
}

.c-cover-wrap + .o-page__content {
		margin-top: 0;
}

.c-cover-wrap {
	margin-top: 10.6rem;
}

@include respond-min( $mq-small ){

	.o-page-column-1-2 {
		@include column(1/2, $gutter: 5, $cycle: 2);
		margin-bottom: 0;
	}

}

@include respond-min( $mq-x-large  ) {

	// .o-page {
	// 	padding-left: $frame-size--medium;
	// 	padding-bottom: $frame-size--medium;
	// 	padding-right: $frame-size--medium;
	// }

	body {
		height: calc(100% - 13.6rem);
		width: calc(100% - 6rem);
	}	

}


@include respond-min( $mq-xx-large ) {

	// .o-page {
	// 	padding-left: $frame-size--large;
	// 	padding-bottom: $frame-size--large;
	// 	padding-right: $frame-size--large;
	// }

	body {
		height: calc(100% - 15.6rem);
		width: calc(100% - 10rem);
	}

}