/* ===========================================================

	# PAGINATION

=========================================================== */

.c-pagination,
.ezsearch-pager {
	text-align: center;
	margin: 0 auto;
	margin-top: 3rem;
	margin-bottom: 3rem;
	.o-pagination__link,
	.o-pagination__page,
	.o-pagination__active  {
		padding: 1.2rem;
		padding-left: 1.8rem;
		padding-right: 1.8rem;
		color: $pri;
		background: $ter;
		display: inline-block;
		margin-left: 0.2rem;
		margin-right: 0.2rem;
		font-weight: normal;
		transition: all $speed ease;
		margin-bottom: 1rem;
	}
	.o-pagination__link:hover,
	.o-pagination__page:hover,
	.o-pagination__active:hover  {
		color: $white;
		background: $pri;
		font-weight: normal;
	}
	.o-pagination__active {
		background: $pri;
		color: $white;
		font-weight: normal;
	}
}

.o-paging-more {
	text-align: center;
	margin-top: 2rem;
}