/* ===========================================================

	# SECTION

=========================================================== */

.o-section {
	padding-bottom: $padding--small;
	padding-top: $padding--small;
}

.o-section--window {
	min-height: 100%;
	position: relative;
}

.o-section--grey {
	background: $main-grey;
}

.o-section--red {
	background: $main-red;
	color: $white !important;
}

.o-section--blue {
	background: $main-blue;
	color: $white !important;
}

.o-section--black {
	background: $dark-black;
	color: $white !important;
}

.o-section--image {
	background-size: cover;
}

.o-section--filter {
	text-align: center;
	margin-bottom: 3rem;
}

@include respond-min( $mq-small ) {

	.o-section {
		padding-bottom: $padding--medium;
		padding-top: $padding--medium;
	}

}

@include respond-min( $mq-medium ) {

	.o-section {
		padding-bottom: $padding--large;
		padding-top: $padding--large;
	}

}