/* ===========================================================

  # TABLES

=========================================================== */

.o-table {
	width: 100%;
}

.o-table--scroll {
	overflow-y: hidden;
	overflow-x: auto;
	position: relative;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	-webkit-overflow-scrolling: touch;
}

@include respond-max( $mq-medium ) {

	.o-table--stacked {
		thead {
			display: none;
		}

		td {
			display: block;

			&:before {
				content: attr( data-label ) ': ';
				display: block;
				width: 100%;
			}
		}
	}

}