 /* ===========================================================

	# PAGE

=========================================================== */

 .o-video__controls {
 	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    z-index: 1;
    text-align: center;
    display: table;
    width: 100%;
    height: 100%;
    .o-video__controls-wrap {
	   	display: table-cell;
	    vertical-align: middle;
    }
    .o-video__controls__title {
    	color: $white;
		background: $dark-black;
		background: rgba(34, 34, 34, 0.5);
		padding: 1rem;
		cursor: pointer;
		vertical-align: top;
		display: inline-block;
		height: 5rem;
		span {
			font-size: 3rem;
			line-height: 3rem;			
		}

    }
    .o-video__controls__button {
    	vertical-align: top;
    	font-size: 3rem;
    	height: 5rem;
    	width: 5rem;
    	display: inline-block;
    	padding: 0;
    	.ico-arrow--right:before {
    		height: 5rem;
    		line-height: 5rem;
    	}
    }
}
