@using Logic.ExtensionMethods
@using Logic.Model
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";

    var ci = new System.Globalization.CultureInfo("en-GB");
    System.Threading.Thread.CurrentThread.CurrentCulture = ci;
    System.Threading.Thread.CurrentThread.CurrentUICulture = ci;
    var now = DateTime.Now;
    var category = Model.Content.As<EventCategory>();
}
<div class="o-section clearfix">
    <h1 class="alpha o-section-heading">@category.Name Events</h1>
    <div id="event-target">

        @foreach (var evt in category.EventsInThisCategory )
        {
            var dates = evt.Dates;
            var count = dates.Count;

            if( count > 0 && dates[count - 1] > now )
            {
                Html.RenderPartial("EventBlock", evt);
            }

        }
    </div>
</div>
