@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
	var homePage = CurrentPage.Site();
	var settings = homePage.FirstChild("Settings");

}
<div class="o-section o-wrap o-wrap--large">
	<h1>@(CurrentPage.HasValue("pageTitle") ? CurrentPage.pageTitle : CurrentPage.Name)</h1>
	@Umbraco.RenderMacro("ezSearch", new {rootContentNodeId="1094", rootMediaNodeId="", indexType="CONTENT", searchFields="nodeName, pageTitle, metaTitle, metaDescription, metaKeywords, seo, bodyText", previewFields="nodeName, pageTitle, bodyText", previewLength="250", pageSize="10", hideFromSearchField="null", searchFormLocation="Top"})
</div>
	
@section OpenGraph{
	@*

	For a custom page like Event, Product, Post add cards to make sharing better experience;

	<meta name="twitter:card" content="">
	<meta name="twitter:site" content="">
	<meta name="twitter:label1" content="">
	<meta name="twitter:data1" content="">
	<meta name="twitter:label2" content="">
	<meta name="twitter:data2" content="">

	*@
}

	
@section Scripts{

}