@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

<div class="o-section o-wrap o-wrap--medium">
	<button class="o-button o-button--primary">Buy tickets</button>
	<button class="o-button o-button--secondary">Read more</button>
	<button class="o-button o-button--disabled">Read more</button>
</div>

@Html.Partial("Component/tile")