@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "MasterSpektrix.cshtml";

    var siteUrl = "https://" +  Request.Url.Host.ToString() + Request.RawUrl.ToString();
}

<div class="o-section o-wrap o-wrap--medium">
    <h1>@CurrentPage.Name</h1>

    @if( !Request.IsSecureConnection && CurrentPage.DocumentTypeAlias == "Checkout" )
    {
        Response.Redirect(siteUrl);
    }

</div>


        @*


        Two checks:

        If page is not Checkout and Secure => leave to unsecure to itself (Goes on Master)

        If page is Checkout and not Secure => go to secure to itself (Goes on Checkout template)


        *@
