@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	var selection = CurrentPage.Children.Where("Visible");

	if (selection == null || !selection.Any()) {
		return;
	}
}

<div class="clearfix c-card-grid">
    @foreach( var page in selection )
    {
		@Html.Partial("~/Views/Partials/Component/Card.cshtml", new CardViewModel {
			Headline = page.Name,
			ImageId = page.thumbnail,
			Url = page.Url,
			ModifierClass = "c-card-grid__item",
			IsSimpleCard = true
		})
    }
</div>
