@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	var homePage = CurrentPage.Site();
	var settings = homePage.FirstChild("Settings");
}

<header class="o-page__header" role="banner">
	<a href="/" class="o-site-logo">
		<img class="o-site-logo__image" src="/assets/img/logo.svg" alt="Watford Palace Theatre"/>
	</a>
	<button id="menuButton" class="toggle--nav--main" data-toggle="js-nav-main">
		<i class="menu-icon">
			<span class="menu-line menu-line--1"></span>
			<span class="menu-line menu-line--2"></span>
			<span class="menu-line menu-line--3"></span>
		</i>
		<span class="hide-text">Menu</span>
	</button>
	@Html.Partial("Page/Super-Navigation")
	<div class="o-page__header__nav">
		@Html.Partial("Page/Navigation")
	</div>
</header>
<div class="c-top-corner">
	<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
		<style type="text/css">
			.st0{fill:#FFFFFF;}
		</style>
		<g>
			<path class="st0" d="M0,0c55.2,0,100,44.8,100,100V0H0z"/>
		</g>
	</svg>
</div>
