/* ===========================================================

	# COVER

=========================================================== */

.c-cover-wrap {
	margin-bottom: 3rem;
}

.c-cover {
	background: $pri;
	position: relative;
	overflow: hidden;
	.c-cover__image--wrap {
		background: $main-grey;
		display: block;
		position: relative;
		overflow: hidden;
	}

	.c-cover__image--wrap:before {
		content: "";
		display: block;
		padding-top: 100%;
		
	}

	.c-cover__image {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		width: 100%;
	}
	.c-cover__content-wrap {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		display: table;
	}

	.c-cover__content {
		display: block;
		margin: 0 auto;
		max-width: 42rem;
		color: $white !important;
		padding-top: 25%;
		text-transform: center;
	}
	.c-cover-info--category {
		background: rgba(34, 34, 34, 0.5);
		padding: 0.5rem;
		padding-left: 1rem;
		padding-right: 1rem;
	    margin: 0 auto;
	    display: table;
	    margin-bottom: 8%;
	}
	.c-cover__heading {
		background: rgba(34, 34, 34, 0.5);
		padding: 1rem;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		display: inline-block;
		margin: 0 auto;
		margin-bottom: 2%;
	}
	.c-cover-info--date {
		display: table;
		margin: 0 auto;
		margin-bottom: 2%;
		padding: 0.6rem;
		background: rgba(34, 34, 34, 0.5);
	}
	.o-button {
	    margin: 0 auto;
	    display: table;		
	}	
}

.c-cover-wrap {
	margin-top: 10.6rem;	
}

.c-cover__main {
	@include column(6/8, $gutter: 2);
	// padding-top: 100%;
	// background: $sec;
}

.c-cover__aside {
	@include column(2/8, $gutter: 2, $cycle: 2);
	// background: $pri;
	display: table;
	.news-block {
		display: table-cell;
		background: grey;
	}

	.o-card {
		background: pink;
		float: left;
		width: 100%;
		position: relative;
		margin-bottom: 8.8%;
	}

	.o-card:last-child {
		margin-bottom: 0;
	}
}


