/* ===========================================================

    # FRAME

=========================================================== */

.c-top-corner {
    height: $frame-size--small * 2;
    position: fixed;
    right: $frame-size--small;
    width: $frame-size--small * 2;
    z-index: 1044;
}

@include respond-max($mq-large - 50px) {

    .c-top-corner {
        top: 6.9rem;
    }

    .js-nav-main--open {

        .c-top-corner {
            display: none !important;
        }
    }
}

@include respond-min($mq-large - 50px) {

    .c-top-corner {
        top: 10.5rem;
    }
}

.c-bottom-frame {
    background: $white;
    bottom: 0;
    height: $frame-size--small - .1rem;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1;
}

@include respond-min($mq-x-large) {

    .c-top-corner {
        height: $frame-size--small * 3;
        right: $frame-size--medium - .1rem;
        width: $frame-size--small * 3;
    }

    .c-bottom-frame {
        height: $frame-size--medium;
    }
}

@include respond-min($mq-xx-large) {

    .c-top-corner {
        height: $frame-size--small * 4.5;
        right: $frame-size--large - .1rem;
        width: $frame-size--small * 4.5;
    }

    .c-bottom-frame {
        height: $frame-size--large;
    }
}
