/* ===========================================================

	# SHOW

=========================================================== */

.c-show {
	.c-show__production-house {
		margin: 0 auto;
		display: block;
		text-align: center;
		padding-bottom: $line-height;
	}

	.c-show__subtitle {

	}

	.c-show__title {
		padding-top: 0;
	}
}