/* ===========================================================

	# FORMS

=========================================================== */

input,
select,
textarea {
	background: none;
	border: $border-width solid $border-colour;
	border-radius: $border-radius;
	padding: 1rem 1.5rem;
	transition: border $speed ease;
	width: 100%;

	&:focus {
		border-color: $pri;
	}
}

textarea {
	overflow: auto; // Hide scrollbar IE
	resize: none;
}

label {
	display: block;
	margin-top: $line-height;
	padding-bottom: $line-height / 2;

	&:first-child {
		margin-top: 0;
	}
}

label[for] {
	cursor: pointer;
}



//= PLACEHOLDER ==============================================

::-webkit-input-placeholder {
   color: $placeholder-colour;
}

:-moz-placeholder { // Firefox 18-
   color: $placeholder-colour;
}

::-moz-placeholder {  // Firefox 19+
   color: $placeholder-colour;
}

:-ms-input-placeholder {
   color: $placeholder-colour;
}