/* ===========================================================

	# TEXT

=========================================================== */

html {
	font-size: 62.5%;
}

body,
input,
textarea,
select,
button {
	color: $text-colour;
	font-family: $font-family;
	font-size: $font-size--small;
	font-feature-settings: 'liga', 'kern'; // http://elliotjaystocks.com/blog/kerning/
	font-kerning: normal;
	line-height: $line-height;
}

p + p,
p + ul,
p + ol,
ul + p,
ol + p {
	margin-top: $line-height; // Preserves verticle rythm being equal to line-height
}

p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6,
ul + h1,
ul + h2,
ul + h3,
ul + h4,
ul + h5,
ul + h6 {
	padding-top: $line-height;
}

em {
	font-style: italic;
}

::selection {
	background: $highlight-colour;
}

::-moz-selection {
	background: $highlight-colour;
}

@include respond-min( $mq-medium ) {

	body,
	input,
	textarea,
	select,
	button {
		font-size: $font-size--large;
	}

}

@include hi-res() {

	p {
		letter-spacing: 0.01em; // Increase letter-spacing on high pixel density screens as they can appear too close
		word-spacing: 0.01em; // Word-spacing same as letter-spacing for consistency
	}

}